<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
    <vendor>Kicksecure</vendor>
    <vendor_url>https://www.kicksecure.com</vendor_url>

    <action id="com.kicksecure.setup-wizard-dist.policy">
        <description>Setup Wizard Dist</description>
        <message>Authentication is required for Setup Wizard Dist.</message>
        <defaults>
            <allow_any>auth_admin</allow_any>
            <allow_inactive>auth_admin</allow_inactive>
            <allow_active>auth_admin</allow_active>
        </defaults>
    </action>
</policyconfig>
