## Copyright (C) 2012 - 2025 ENCRYPTED SUPPORT LLC <adrelanos@kicksecure.com>
## See the file COPYING for copying conditions.

Source: setup-wizard-dist
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@kicksecure.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), python3
Homepage: https://github.com/Kicksecure/setup-wizard-dist
Vcs-Browser: https://github.com/Kicksecure/setup-wizard-dist
Vcs-Git: https://github.com/Kicksecure/setup-wizard-dist.git
Standards-Version: 4.7.2
Rules-Requires-Root: no

Package: setup-wizard-dist
Architecture: all
Depends: setup-dist, python3-yaml,
 helper-scripts, python3, x11-xserver-utils,
 ${misc:Depends}
Recommends: icon-pack-dist
Provides: whonix-setup-wizard
Replaces: whonix-setup-wizard
Conflicts: whonix-setup-wizard
Description: First Boot Setup
 Disclaimer.
 .
 When distribution starts for the first time, it won't automatically connect
 to the public Tor network. This is useful for users who want to hide Tor from
 their ISP. Anon Connection Wizard is automatically started, which educates
 about different methods to connect (public Tor network, bridges, etc.).
