## Copyright (C) 2012 - 2021 ENCRYPTED SUPPORT LP <adrelanos@whonix.org>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=Distribution Setup Wizard
Comment=First Boot Setup Graphical User Interface
Type=Application
Terminal=false
Exec=/usr/libexec/setup-wizard-dist/setup-dist_check_for_start
