## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

[Desktop Entry]
Name=Distribution Setup Wizard
Comment=First Boot Setup Graphical User Interface
Type=Application
Terminal=false
Exec=/usr/lib/setup-wizard-dist/setup-dist_check_for_start
